<div class="row-fluid marketing">
<div class="span12">
<ul>
  <li><a href="img/Font-list-MacOSX-Firefox-ClearType-2.png">Mac OS X 10.4.8, Firefox 2.0, font smoothing enabled</a> (thanks to Juris Vecvanags for the screen shot)</li>
  <li><a href="img/Font-list-MacOSX-Firefox-ClearType.png">Mac OS X 10.4.4, Firefox 1.5, font smoothing enabled</a> (thanks to Eric Zavesky for the screen shot)</li>
  <li><a href="img/Font-list-MacOSX-Safari3-ClearType.png">Mac OS X 10.4.11, Safari 3.0.4, font smoothing enabled</a> (thanks to Nolan Gladius for the screen shot)</li>
  <li><a href="img/Font-list-MacOSX-Safari-ClearType.png">Mac OS X 10.4.4, Safari 2.0.3, font smoothing enabled</a> (thanks to Eric Zavesky for the screen shot)</li>
  <li><a href="img/Font-list-Vista-IE7-ClearType.png">Windows Vista, Internet Explorer 7, ClearType enabled</a> (thanks to Michiel Bijl for the screen shot)</li>
  <li><a href="img/Font-list-Vista-Firefox2-ClearType.png">Windows Vista, Firefox 2.0, ClearType enabled</a> (thanks to Michiel Bijl for the screen shot)</li>
  <li><a href="img/Font-list-WinXP-IE6-ClearType.png">Windows XP, Internet Explorer 6, ClearType enabled</a></li>
  <li><a href="img/Font-list-WinXP-Firefox-ClearType.png">Windows XP, Firefox 1.0.7, ClearType enabled</a></li>
  <li><a href="img/Font-list-WinXP-IE6.png">Windows XP, Internet Explorer 6, Basic font smoothing enabled</a></li>
  <li><a href="img/Font-list-WinXP-Firefox.png">Windows XP, Firefox 1.0.7, Basic font smoothing enabled</a></li>
  <li><a href="img/Font-list-Win2000-IE6.png">Windows 2000, Internet Explorer 6, Basic font smoothing enabled</a></li>
  <li><a href="img/Font-list-Win2000-Firefox.png">Windows 2000, Firefox 1.0.7, Basic font smoothing enabled</a></li>
  <li><a href="img/Font-list-Ubuntu7-Gnome.png">Linux (Ubuntu 7.04 + Gnome), Firefox 2.0</a> (thanks to Juris Vecvanags for the screen shot)</li>
</ul>
<p>Note that while the ClearType smoothing is applied always, the basic font smoothing of
Windows 98/2000/XP is applied only to certain font sizes. That sizes can be specified by the
font designer, but usually they are in the ranges of 0-6 and 14+ points (pt).</p>    
</div>    
</div>
