          <div class="row-fluid marketing">
            <div class="span12">
                <p>First, a few introductory notes:</p>
                <ul>
                  <li>The names in grey are the generic family of each font.</li>
                  <li>In some cases the Mac equivalent is the same font, since Mac OS X also includes some of the
                  fonts shipped with Windows.</li>
                  <li>The notes at the bottom contains specific information about some of the fonts.</li>
                </ul>                
            </div>
<!-- The List -->
<table class="table table-striped">
<caption>Windows fonts / <span class="mac">Mac fonts</span> / <em>Font family</em></caption>
<colgroup><col>
<col class="bold">
</colgroup><tbody><tr>
  <th style="width: 50%; text-align: center">Normal style</th>
  <th style="text-align: center">Bold style</th>
</tr>
<tr style="font-family: Arial, Helvetica, sans-serif">
  <td>Arial, <span class="mac">Arial, Helvetica</span>, <em>sans-serif</em></td>
  <td>Arial, <span class="mac">Arial, Helvetica</span>, <em>sans-serif</em></td>
</tr>
<tr style="font-family: 'Arial Black', Gadget, sans-serif">
  <td>Arial Black, <span class="mac">Arial Black, Gadget</span>, <em>sans-serif</em></td>
  <td>Arial Black, <span class="mac">Arial Black, Gadget</span>, <em>sans-serif</em></td>
</tr>
<tr style="font-family: 'Comic Sans MS', Textile, cursive">
  <td>Comic Sans MS, <span class="mac">Comic Sans MS<sup>5</sup></span>, <em>cursive</em></td>
  <td>Comic Sans MS, <span class="mac">Comic Sans MS<sup>5</sup></span>, <em>cursive</em></td>
</tr>
<tr style="font-family: 'Courier New', Courier, monospace">
  <td>Courier New, <span class="mac">Courier New</span>, <em>monospace</em></td>
  <td>Courier New, <span class="mac">Courier New</span>, <em>monospace</em></td>
</tr>
<tr style="font-family: Georgia, 'Times New Roman', Times, serif">
  <td>Georgia<sup>1</sup>, <span class="mac">Georgia</span>, <em>serif</em></td>
  <td>Georgia<sup>1</sup>, <span class="mac">Georgia</span>, <em>serif</em></td>
</tr>
<tr style="font-family: Impact, Charcoal, sans-serif">
  <td>Impact, <span class="mac">Impact<sup>5</sup>, Charcoal<sup>6</sup></span>, <em>sans-serif</em></td>
  <td>Impact, <span class="mac">Impact<sup>5</sup>, Charcoal<sup>6</sup></span>, <em>sans-serif</em></td>
</tr>
<tr style="font-family: 'Lucida Console', Monaco, monospace">
  <td>Lucida Console, <span class="mac">Monaco<sup>5</sup></span>, <em>monospace</em></td>
  <td>Lucida Console, <span class="mac">Monaco<sup>5</sup></span>, <em>monospace</em></td>
</tr>
<tr style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif">
  <td>Lucida Sans Unicode, <span class="mac">Lucida Grande</span>, <em>sans-serif</em></td>
  <td>Lucida Sans Unicode, <span class="mac">Lucida Grande</span>, <em>sans-serif</em></td>
</tr>
<tr style="font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif">
  <td>Palatino Linotype, Book Antiqua<sup>3</sup>, <span class="mac">Palatino</span>, <em>serif</em></td>
  <td>Palatino Linotype, Book Antiqua<sup>3</sup>, <span class="mac">Palatino</span>, <em>serif</em></td>
</tr>
<tr style="font-family: Tahoma, Geneva, sans-serif">
  <td>Tahoma, <span class="mac">Geneva</span>, <em>sans-serif</em></td>
  <td>Tahoma, <span class="mac">Geneva</span>, <em>sans-serif</em></td>
</tr>
<tr style="font-family: 'Times New Roman', Times, serif">
  <td>Times New Roman, <span class="mac">Times New Roman, Times</span>, <em>serif</em></td>
  <td>Times New Roman, <span class="mac">Times New Roman, Times</span>, <em>serif</em></td>
</tr>
<tr style="font-family: 'Trebuchet MS', Helvetica, sans-serif">
  <td>Trebuchet MS<sup>1</sup>, <span class="mac">Trebuchet MS</span>, <em>sans-serif</em></td>
  <td>Trebuchet MS<sup>1</sup>, <span class="mac">Trebuchet MS</span>, <em>sans-serif</em></td>
</tr>
<tr style="font-family: Verdana, Geneva, sans-serif">
  <td>Verdana, <span class="mac">Verdana, Geneva</span>, <em>sans-serif</em></td>
  <td>Verdana, <span class="mac">Verdana, Geneva</span>, <em>sans-serif</em></td>
</tr>
<tr class="symbol" style="font-family: Symbol">
  <td>Symbol, <span class="mac">Symbol</span> <span style="font-family: Verdana; white-space: nowrap">(Symbol<sup>2</sup>, <span class="mac">Symbol<sup>2</sup></span>)</span></td>
  <td>Symbol, <span class="mac">Symbol</span> <span style="font-family: Verdana; white-space: nowrap">(Symbol<sup>2</sup>, <span class="mac">Symbol<sup>2</sup></span>)</span></td>
</tr>
<tr class="symbol" style="font-family: Webdings">
  <td>Webdings, <span class="mac">Webdings</span> <span style="font-family: Verdana; white-space: nowrap">(Webdings<sup>2</sup>, <span class="mac">Webdings<sup>2</sup></span>)</span></td>
  <td>Webdings, <span class="mac">Webdings</span> <span style="font-family: Verdana; white-space: nowrap">(Webdings<sup>2</sup>, <span class="mac">Webdings<sup>2</sup></span>)</span></td>
</tr>
<tr class="symbol" style="font-family: Wingdings, 'Zapf Dingbats'">
  <td>Wingdings,&nbsp;<span class="mac">Zapf&nbsp;Dingbats</span> <span style="font-family: Verdana; white-space: nowrap">(Wingdings<sup>2</sup>,&nbsp;<span class="mac">Zapf&nbsp;Dingbats<sup>2</sup></span>)</span></td>
  <td>Wingdings,&nbsp;<span class="mac">Zapf&nbsp;Dingbats</span> <span style="font-family: Verdana; white-space: nowrap">(Wingdings<sup>2</sup>,&nbsp;<span class="mac">Zapf&nbsp;Dingbats<sup>2</sup></span>)</span></td>
</tr>
<tr style="font-family: 'MS Sans Serif', Geneva, sans-serif">
  <td>MS Sans Serif<sup>4</sup>, <span class="mac">Geneva</span>, <em>sans-serif</em></td>
  <td>MS Sans Serif<sup>4</sup>, <span class="mac">Geneva</span>, <em>sans-serif</em></td>
</tr>
<tr style="font-family: 'MS Serif', 'New York', serif">
  <td>MS Serif<sup>4</sup>, <span class="mac">New York<sup>6</sup></span>, <em>serif</em></td>
  <td>MS Serif<sup>4</sup>, <span class="mac">New York<sup>6</sup></span>, <em>serif</em></td>
</tr>
</tbody></table>
<!-- End The List -->

<div class="span12">
<div class="notes">
  <p><sup>1</sup> Georgia and Trebuchet MS are bundled with Windows 2000/XP and they are
  also included in the IE font pack (and bundled with other MS applications), so they
  are quite common in Windows 98 systems.</p>
  <p><sup>2</sup> Symbolic fonts are only displayed in Internet Explorer, in other browsers a
  font substitute is used instead (although the Symbol font does work in Opera and the Webdings
  works in Safari).</p>
  <p><sup>3</sup> Book Antiqua is almost exactly the same font that Palatino Linotype, Palatino Linotype
  is included in Windows 2000/XP while Book Antiqua was bundled with Windows 98.</p>
  <p><sup>4</sup> These fonts are not TrueType fonts but bitmap fonts, so they won't
  look well when using some font sizes (they are designed for 8, 10, 12, 14, 18 and 24 point
  sizes at 96 DPI).</p>
  <p class="mac"><sup>5</sup> These fonts work in Safari but only when using the normal font style,
  and not with bold or italic styles. Comic Sans MS works in bold but not in italic. Other Mac
  browsers seems to emulate properly the styles not provided by the font (thanks to <a class="external" target="_blank" href="http://christianfecteau.com/">Christian Fecteau</a> for the tip).</p>
  <p class="mac"><sup>6</sup> These fonts are present in Mac OS X only if <strong>Classic</strong> is
  installed (thanks to Julian Gonggrijp for the corrections).</p>
</div>    
</div>

          </div>

