<div class="jumbotron">
<h1>Common Windows &amp; Mac fonts</h1>
<p class="lead">A list of common fonts to all versions of Windows and their Mac substitutes, referred sometimes as "browser safe fonts".</p>
<a class="btn btn-large btn-success" href="#list">Obligatory Button</a>
</div>
<hr>
<div class="row-fluid">
<div class="span12">
    <h2>Introduction</h2>
    <small>Warning: The grammar on this page is atrocious</small>
    <p>If you are new to web design, maybe you are thinking: "Why I have to limit to that small set of fonts? I have a large collection of nice fonts in my computer". Well, as seasoned web designers already know, browsers can use only the fonts installed in each computer, so it means that every visitor of your web page needs to have all the fonts you want to use installed in his/her computer. Of course, different people will have different fonts installed, and thus come the need of a standard set of fonts. Fortunately, CSS allows set several values for the font-family property, which eases the task a bit.</p>

    <p>If you want to know how the fonts are displayed in other OS's or browsers than yours, after the table you can find several screen shots of this page in different systems and browsers. Also, you can take a look to the list of the default fonts included with each version of Windows.</p>                
</div>
</div>


